<!-- Mobile list -->
<div class="text-right px-[20px]  violet">
  <p (click)="logout()" class="text-[15px] text-[#dadada] leading-[48px]">Logout</p>
</div>
<div class="px-[50px] py-[25px] violet">
  
  <p class="text-[30px] text-[#dadada] leading-[48px]">Explore <br> <span class="text-[40px] text-white">Ragaranjani’s</span>  <br> World of Art</p>
  </div>
<div class="block lg:hidden p-[20px] bg-grey">
  
  <div class="grid grid-cols-1 gap-[48px]">
    <img *ngFor="let img of images"
         [src]="img.src"
         [alt]="img.alt || 'image'"
         class=" w-full border-[8px] border-white shadow1"
         (click)="open(img)"
         loading="lazy">
  </div>
</div>
<div class="p-[40px] violet text-center">
  <p class="text-[20px] text-white ">New Creations Arriving Soon...!</p>
  </div>
<!-- Fullscreen lightbox -->
<div *ngIf="isOpen" class="fixed inset-0 z-50 bg-black/90 flex flex-col"
     (click)="close($event)">
  <!-- top bar -->
  <div class="flex items-center justify-between px-4 h-12 text-white">
   
  </div>

  <!-- pinch-zoom area -->
  <div class="flex-1 overflow-hidden">
    <div #pz class="h-full w-full touch-none">
      <img [src]="selected?.src"
           [alt]="selected?.alt || 'image'"
           class="block mx-auto max-h-full"
           draggable="false" />
    </div>
  </div>
</div>
